/* =========== HERO =========== */
.slider {
    position: relative;
    height: 30vw;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.caption h1 {
    font-size: 4.4vw;
}

/* =========== QUOTE SECTION =========== */
.quote-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    padding: 4vw 6vw;
}

/* ===== CONTACT INFO BOXES ===== */
.contact-info-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
    width: 45%;
}

.contact-box {
    text-align: center;
    border: 1px solid black;
    padding: 1.2vw;
    border-radius: 0.5vw;
}

.contact-box img {
    width: 20%;
}

.contact-box h3 {
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
}

.contact-box p {
    font-size: 1vw;
    line-height: 1.4vw;
}

/* ===== QUOTE FORM ===== */
.quote-form {
    width: 55%;
}

.quote-form h1 {
    font-size: 3vw;
    margin-bottom: 0.5vw;
}

.underline {
    width: 3vw;
    height: 0.2vw;
    background: black;
    margin-bottom: 2vw;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "name mobile email"
        "name_err mobile_err .";
    gap: 1.2vw;
    margin-bottom: 1.5vw;
}

#name {
    grid-area: name;
}

#name_err {
    grid-area: name_err;
}

#mobile {
    grid-area: mobile;
}

#mobile_err {
    grid-area: mobile_err;
}

#email {
    grid-area: email;
}

.quote-form input,
.quote-form textarea {
    width: 100%;
    padding: 0.5vw;
    background: black;
    color: white;
    border: none;
    border-radius: 0.4vw;
    font-size: 1vw;
    font: inherit;
}

.quote-form label {
    display: block;
    font-size: 1vw;
    margin: 1vw 0 0.5vw;
}

textarea {
    height: 10vw;
    resize: none;
    margin-bottom: 1.5vw;
}

input[type="file"] {
    background: white;
    color: black;
    cursor: pointer;
    margin-bottom: 1.5vw;
}

.submit-btn {
    padding: 0.8vw 2vw;
    background: black;
    color: white;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.2s;
}

.submit-btn:hover {
    background: rgb(34, 34, 34);
}


/* =========== THANK YOU POPUP =========== */

.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: none;
}

.popupBox {
    background: white;
    color: black;
    padding: 1.2vw 2vw;
    border-radius: 1vw;
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
}

.popupBox h2 {
    font-size: 1.6vw;
    margin-bottom: 1vw;
}

.popupBox p {
    font-size: 1.2vw;
    margin-bottom: 1vw;
    line-height: 2vw;
}

#popupOkBtn {
    padding: 0.6vw 1.2vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1vw;
}


/* =========== MOBILE RESPONSIVE =========== */
@media (max-width: 768px) {

    .caption h1 {
        font-size: 7vw;
    }

    .quote-section {
        flex-direction: column;
        gap: 8vw;
        padding: 8vw 6vw;
    }

    /* CONTACT INFO BOXES */
    .contact-info-boxes {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 4vw;
    }

    .contact-box {
        padding: 4vw;
    }

    .contact-box img {
        width: 18%;
        margin-bottom: 2vw;
    }

    .contact-box h3 {
        font-size: 4.5vw;
        margin-bottom: 1.5vw;
    }

    .contact-box p {
        font-size: 3.8vw;
        line-height: 5.5vw;
    }

    /* ===== QUOTE FORM ===== */
    .quote-form {
        width: 100%;
    }

    .quote-form h1 {
        font-size: 7vw;
        text-align: center;
        margin-bottom: 2vw;
    }

    .underline {
        margin: 0 auto 6vw auto;
        width: 10vw;
        height: 0.6vw;
    }

    .inputs {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "name_err"
            "mobile"
            "mobile_err"
            "email";
        gap: 4vw;
        margin-bottom: 4vw;
    }

    .quote-form label {
        font-size: 3.8vw;
        margin-bottom: 2vw;
    }

    .quote-form input,
    .quote-form textarea {
        font-size: 4vw;
        padding: 3vw;
        border-radius: 2vw;
    }

    textarea {
        height: 35vw;
    }

    .submit-btn {
        width: 100%;
        font-size: 4vw;
        padding: 4vw;
        border-radius: 2vw;
    }

    /* =========== THANK YOU POPUP =========== */

    .popupBox {
        padding: 4vw 3.2vw;
        border-radius: 3.2vw;
        max-width: 80%;
        margin: 0 auto;
    }

    .popupBox h2 {
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .popupBox p {
        font-size: 3.6vw;
        line-height: 5vw;
        margin-bottom: 2.4vw;
    }

    #popupOkBtn {
        padding: 1.8vw 3.6vw;
        border-radius: 2vw;
        font-size: 3.2vw;
    }



}
