* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.main {
  margin: 0 5vw;
}

/* ===========Nav Bar=========== */
.nav-bar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.nav-bar img {
  width: 20vw;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.3vw;
  gap: 3vw;
  cursor: pointer;
}

.nav-links a {
  color: #18a0fb;
  text-decoration: none;
  padding: 0.4vw 0.7vw;
}

.nav-links a:hover {
  cursor: pointer;
  color: #1277ba;
  transition: 0.2s ease;
}

.dropdown {
  position: relative;
}

.dropdown label {
  color: #18a0fb;
}

.dropdown label:hover {
  cursor: pointer;
  color: #1277ba;
  transition: 0.2s ease;
}

#triangle_symbol {
  color: white;
}

.dropdown label:hover #triangle_symbol {
  color: rgb(203, 203, 203);
  transition: 0.2s ease;
}

#services {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style-type: none;
  min-width: 15vw;
  padding: 1vw 0 0 0;
  z-index: 1;
}

#services li a {
  display: block;
  font-size: 1vw;
  background-color: black;
  border-bottom: 0.1vw solid white;
}

#triangle {
  display: none;
}

#triangle:checked~#services {
  display: block;
  transition: 0.2s ease;
}

.nav-links .nav-contact {
  color: white;
  border: 0.1vw solid #18a0fb;
  background-color: #18a0fb;
  padding: 0.4vw 2.4vw;
  transition: 0.2s ease;
}

.nav-contact:hover {
  background-color: black;
}

#nav-toggle,
.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .nav-bar {
    padding: 3vw 5vw;
    flex-wrap: wrap;
  }

  .nav-bar img {
    width: 40vw;
  }

  .hamburger {
    display: inline-block;
    color: white;
    font-size: 5vw;
    cursor: pointer;
    padding-left: 5vw;
  }

  .nav-links {
    background-color: black;
    flex-direction: column;
    display: none;
    width: 100%;
  }

  #nav-toggle:checked~.nav-links {
    display: flex;
  }

  .nav-links li {
    border-top: 0.1vw solid white;
    text-align: center;
    margin-bottom: -2vw;
  }

  .nav-links a,
  .dropdown label {
    display: block;
    font-size: 4vw;
    padding: 4vw 0;
  }

  #services li a {
    font-size: 3.5vw;
    background-color: #111;
    border-bottom: none;
    padding: 3vw 0;
  }

  .nav-links .nav-contact {
    margin: 3vw auto;
    width: 80%;
    text-align: center;
    padding: 3vw 0;
    font-size: 4vw;
  }

}

/* ===========FOOTER=========== */
footer {
  border-top: 3px solid black;
  padding: 33px 20px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-black img {
  width: 100%;
}

.logo-black {
  overflow: hidden;
  width: 20%;
}

.footer-col h3 {
  font-size: 1.3vw;
  margin-bottom: 8px;
}

.footer-col p {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  line-height: 1.6vw;
  letter-spacing: 0.14em;
}

.contact-form label,
.contact-form input[type="email"],
.contact-form input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.14em;
  font-size: 1vw;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="email"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 12px;
  border: 0;
  border-radius: 0.5vw;
  background: black;
  color: white;
}

.contact-form input[type="submit"] {
  padding: 8px 25px;
  border: 3px solid black;
  background-color: white;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: 0.2s ease;
}

.contact-form input[type="submit"]:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 8vw 4vw;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6vw;
  }

  .footer-col {
    width: 100%;
  }

  .logo-black img {
    width: 55vw;
    height: auto;
    margin-top: 0;
  }

  .footer-col h3 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }

  .footer-col p {
    font-size: 2.6vw;
    line-height: 5.5vw;
  }

  .contact-form label {
    font-size: 2.6vw;
  }

  .contact-form input[type="email"] {
    font-size: 3vw;
    padding: 3.5vw;
  }

  .contact-form input[type="submit"] {
    font-size: 3vw;
    padding: 2vw;
  }
}