.section-head {
  margin-bottom: 3vw;
  font-size: 3vw;
}

/* ===========Hero=========== */

.slider {
  position: relative;
  width: 100%;
  height: 87vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.caption {
  position: absolute;
  top: 39vh;
  left: 10%;
  color: white;
}

.caption h1 {
  font-size: 2.4vw;
  margin-bottom: 1vw;
}

.caption p {
  font-size: 1.2vw;
  margin-bottom: 1.2vw;
  line-height: 1.6vw;
}

.btn {
  font-size: 1vw;
  position: absolute;
  top: 100%;
  padding: 0.8vh 1.8vw;
  border: 0.2vw solid white;
  border-radius: 0.6vw;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0.2vw solid white;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  color: white;
  font-size: 1.4vw;
  cursor: pointer;
}

.prev {
  left: 3vw;
}

.next {
  right: 3vw;
}

.prev:hover,
.next:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* ===========Companies=========== */

.companies img {
  width: 100%;
  height: 100%;
  margin-bottom: 8vw;
}

/* ===========Headline=========== */
.headline {
  text-align: center;
  margin: 0 20px 8vw 20px;
}

.headline h1 {
  font-size: 2.4vw;
  margin-bottom: 1.6vw;
}

.headline p {
  font-size: 1.4vw;
  line-height: 2vw;
}

/* ===========Service=========== */
.services {
  text-align: center;
  margin-bottom: 9vw;
}

.services h1 {
  text-decoration: underline;
  text-decoration-thickness: 0.1vw;
  text-underline-offset: 0.2vw;
  margin-bottom: 4vw;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 10%;
}

.grid-box img {
  border: 0.3vw solid black;
  margin-bottom: 1.2vw;
  width: 100%;
  transition: 0.2s ease;
}

.grid-box img:hover{
  opacity: 110%;
}

.grid-box p {
  font-size: 1.4vw;
}

/* ===========Metal Welding Homepage=========== */
.metalWelding {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 7.5vw;
}

.metalWelding-text h1 {
  font-size: 3.3vw;
  text-decoration: underline;
  text-decoration-thickness: 0.1vw;
  text-underline-offset: 0.2vw;
  margin-bottom: 1vw;
}

.metalWelding-text p {
  font-size: 1vw;
  line-height: 152.63%;
}

.metalWelding-img {
  width: 85%;
}

.metalWelding-text {
  margin-left: -3vw;
}

.metalWelding-img img {
  width: 100%;
}

/* ===========TRUSTED BY=========== */
.trustedBy {
  text-align: center;
  margin-bottom: 5vw;
}

.trustedlogos img {
  width: 100%;
  border: 0.2vw solid black;
  border-radius: 1.6vw;
}

.underline {
  margin: -3vw 0 3vw 36vw;
  width: 4vw;
  border: 0.2vw solid red;
}

/* ===========FEATURED=========== */
.featured {
  text-align: center;
  margin-bottom: 8vw;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5vw;
}

.featuredProject img {
  border: 0.2vw solid black;
  width: 100%;
}

.projects-underline {
  margin-left: 28.5vw;
}


/* ====== DESKTOP ====== */


@media screen and (max-width: 768px) {
  .slider {
    height: 60vh;
  }

  .caption {
    top: 30%;
    left: 10%;
    right: 7%;
  }

  .caption h1 {
    font-size: 6vw;
    margin-bottom: 3vw;
  }

  .caption p {
    font-size: 2.4vw;
    line-height: 3vw;
    margin-bottom: 4vw;
  }

  .btn {
    font-size: 2.4vw;
    padding: 2vw 4vw;
    border-width: 0.4vw;
    border-radius: 2.4vw;
  }

  .prev,
  .next {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
  }

  /* ====== COMPANIES ====== */
  .companies img {
    margin-bottom: 12vw;
  }

  /* ====== HEADLINE ====== */
  .headline {
    margin-bottom: 12vw;
  }

  .headline h1 {
    font-size: 5vw;
    line-height: 7vw;
  }

  .headline p {
    font-size: 3vw;
    line-height: 5.5vw;
  }

  /* ====== SERVICES ====== */
  .services-grid {
    grid-template-columns: 1fr;
    row-gap: 8vw;
    margin-bottom: 27vw;
  }

  .services h1 {
    font-size: 6vw;
    text-decoration-thickness: 0.3vw;
    text-underline-offset: 0.4vw;
  }

  .grid-box p {
    font-size: 4vw;
  }

  /* ====== METAL WELDING ====== */
  .metalWelding {
    grid-template-columns: 1fr;
    gap: 6vw;
    text-align: center;
    margin-bottom: 23vw;
  }

  .metalWelding-img {
    width: 100%;
  }

  .metalWelding-text {
    margin-left: 0;
  }

  .metalWelding-text h1 {
    font-size: 6vw;
    text-decoration-thickness: 0.3vw;
    text-underline-offset: 0.4vw;
  }

  .metalWelding-text p {
    font-size: 3.6vw;
    line-height: 5.5vw;
  }

  /* ====== TRUSTED BY ====== */
  .trustedBy {
    margin-bottom: 20vw;
  }

  .trustedBy h1 {
    font-size: 6vw;
  }

  .underline {
    margin: 4vw auto;
    width: 10vw;
  }

  /* ====== FEATURED PROJECTS ====== */
  .featured-grid {
    grid-template-columns: 1fr;
    gap: 6vw;
  }

  .featured h1 {
    font-size: 6vw;
  }

  .projects-underline {
    margin: 4vw auto;
    width: 10vw;
  }
}

/* ==================== DESKTOP ==================== */
@media screen and (min-width: 1920px) {

  .headline h1 {
    font-size: 2vw; 
    line-height: 2.5vw;
  }

  .headline p {
    font-size: 1vw;
    line-height: 1.8vw;
  }

  /* Services */
  .services h1 {
    font-size: 2vw;
  }

  .grid-box p {
    font-size: 1vw;
  }

  .grid-box img {
    width: 90%;
  }

  .metalWelding-text h1 {
    font-size: 2vw;
  }

  .metalWelding-text p {
    font-size: 1vw;
    line-height: 1.8vw;
  }

  .trustedBy h1 {
    font-size: 1.8vw;
  }

  .underline {
    width: 2.5vw;
    margin: 0 auto 1.5vw;
  }

  .featured h1 {
    font-size: 2vw;
  }

  .featured-grid {
    gap: 2vw;
  }

  .featuredProject img {
    width: 95%;
  }

  .caption h1 {
    font-size: 2.4vw;
  }

  .caption p {
    font-size: 1vw;
  }

  .btn {
    font-size: 1vw;
    padding: 0.8vw 1.2vw;
  }

  .headline,
  .services,
  .metalWelding,
  .trustedBy,
  .featured {
    margin-bottom: 5vw; 
    padding: 0 3vw;
  }
}
