/* =========== HERO =========== */
.slider {
    position: relative;
    width: 100%;
    height: 16vw;
    overflow: hidden;
    margin-bottom: 1.6vw;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.caption h1 {
    font-size: 3.2vw;
}

/* =========== DESCRIPTION =========== */
.description {
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.7vw;
    margin-bottom: 3.5vw;
}

/* =========== OUR SUPPLIES =========== */
.ourSupplies {
    text-align: center;
    background-color: #D9D9D9;
    margin: 0 -2.5vw 7.6vw -2.5vw;
    padding: 0 2.7vw 0.1vw;
}

.ourSupplies-header h1 {
    padding: 3.8vw 0;
    font-size: 2.5vw;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
}

.ourSupplies-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.3vw 4.7vw;
    margin-bottom: 4.4vw;
}

.ourSupplies-img img {
    width: 100%;
    border: 0.15vw solid black;
}

.ourSupplies-img p {
    font-size: 1vw;
    margin-top: 0.8vw;
}

/* ===========MOBILE=========== */
@media (max-width: 768px) {

    /* HERO */
    .slider {
        height: 45vw;
    }

    .caption h1 {
        font-size: 8vw;
        text-align: center;
    }

    /* DESCRIPTION */
    .description {
        font-size: 4vw;
        line-height: 6vw;
        padding: 0 6vw;
        margin-bottom: 8vw;
    }

    /* OUR SUPPLIES */
    .ourSupplies {
        margin: 0 -6vw 12vw -6vw;
        padding: 0 6vw;
    }

    .ourSupplies-header h1 {
        font-size: 7vw;
        padding: 8vw 0;
        text-underline-offset: 1.5vw;
    }

    .ourSupplies-content {
        grid-template-columns: 1fr 1fr;
        gap: 8vw;
        margin-bottom: 10vw;
    }

    .ourSupplies-img p {
        font-size: 4vw;
        margin-top: 3vw;
    }
}