.section-head {
    margin-bottom: 34px;
    font-size: 43px;
}

/* ===========HERO=========== */

.slider {
    position: relative;
    width: 100%;
    height: 36vh;
    overflow: hidden;
    margin-bottom: 2vw;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
}

.caption h1 {
    font-size: 4.4vw;
}

/* ===========Description=========== */
.description {
    text-align: center;
    align-items: center;
    font-size: 1.6vw;
    line-height: 2vw;
    margin-bottom: 3.8vw;
}

/* ===========Latest Metal Works=========== */
.metalWorks {
    text-align: center;
    background-color: #D9D9D9;
    margin: 0 -3vw 7.5vw -3vw;
    padding: 0 5% 0 5%;
}

.metalWorks-header h1 {
    text-align: center;
    padding: 5% 0 5% 0;
    font-size: 3.2vw;
    text-decoration: underline;
}

.metalWorks-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4.5vw;
    padding-bottom: 5%;
}

.metalWorks-img img {
  width: 100%;
}

/* ===========Metal Working Example=========== */
.metalWorksExamples {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    padding: 0 5% 0 5%;
    border: 2px solid red;
}

.metalWorksExamples-box {
    text-align: center;
}

.metalWorksExamples-box h1 {
    font-size: 48px;
    margin-bottom: 55px;
    letter-spacing: -0.015em;
}

.metalWorksExamples-box p {
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 152.63%;
    letter-spacing: -0.015em;
}