.section-head {
    margin-bottom: 34px;
    font-size: 43px;
}

/* ===========HERO=========== */

.slider {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    margin-bottom: 2vw;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    min-width: 55vw;
}

.caption h1 {
    font-size: 4vw;
    padding-bottom: 1.6vw;
}

.caption {
    font-size: 1.2vw;
}

.actions {
    margin: 3.2vw 0;
}

.actions a {
    font-size: 1vw;
    background-color: #18a0fb;
    text-decoration: none;
    border-radius: 1.6vw;
    padding: 0.8vw 1vw;
    color: black;
}

.actions a:hover {
    background-color: #1585cf;
}

/* ===========Description=========== */
.description {
    text-align: center;
    align-items: center;
    font-size: 1.6vw;
    line-height: 2vw;
    margin-bottom: 3.8vw;
}

.description h1 {
    padding: 2.4vw 0;
}

/* ===== CAPABILITIES ===== */
.capabilities {
    background-color: #f5f5f5;
    margin: 0 -3vw 7.5vw -3vw;
    padding: 7%;
}

.capabilities h1 {
    font-size: 3.2vw;
    margin-bottom: 3.6vw;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6vw;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1.8vw;
    border-left: 0.4vw solid red;
    font-size: 1.6vw;
}

/* ===========Metal Welding About Us=========== */
.pastProjects {
    text-align: center;
    margin: 0 -3vw 7.5vw -3vw;
    padding: 0 5% 0 5%;
}

.pastProjects-header h1 {
    text-align: center;
    padding: 5% 0 5% 0;
    font-size: 3.2vw;
    text-decoration: underline;
}

.pastProjects-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4.5vw;
    padding-bottom: 5%;
}

.pastProjects-img img {
    width: 100%;
}

/* ===========Metal Working Example=========== */
.metalWorksExamples {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    padding: 0 58px 0 58px;
}

.metalWorksExamples-box {
    text-align: center;
}

.metalWorksExamples-box h1 {
    font-size: 48px;
    margin-bottom: 55px;
    letter-spacing: -0.015em;
}

.metalWorksExamples-box p {
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 152.63%;
    letter-spacing: -0.015em;
}

/* ===== CTA ===== */
.cta {
    background: #111;
    color: #fff;
    text-align: center;
    margin: 0 -3vw 0 -3vw;
    padding: 15% 5% 15% 5%;
}

.cta a {
    font-size: 1.2vw;
    background-color: #18a0fb;
    text-decoration: none;
    border-radius: 1.6vw;
    padding: 0.8vw 1vw;
    color: black;
}

.cta a:hover {
    background-color: #1585cf;
}

.cta h1{
    font-size: 2.8vw;
}

.cta p{
    font-size: 1.4vw;
    margin-bottom: 2.4vw;
}