.section-head {
    margin-bottom: 2.3vw;
    font-size: 3vw;
}

/* ===========HERO=========== */
.slider {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-bottom: 2vw;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 25%;
    left: 5%;
    color: white;
    min-width: 55vw;
    font-size: 1.2vw;
}

.caption h1 {
    font-size: 4vw;
    padding-bottom: 1.6vw;
}

.actions {
    margin: 3.2vw 0;
}

.actions a {
    font-size: 1vw;
    text-decoration: none;
    border-radius: 1.6vw;
    padding: 0.8vw 1vw;
    color: black;
    background-color: #18a0fb;
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.7);
}

.actions a:hover {
    background-color: #1585cf;
    transition: 0.2s ease;
}

/* ===========Description=========== */
.description {
    text-align: center;
    align-items: center;
    margin-bottom: 3.8vw;
}

.description h1 {
    font-size: 3.2vw;
    padding: 1vw 0;
}

.description p {
    font-size: 1.6vw;
    line-height: 2vw;
}

/* ===== CAPABILITIES ===== */
.capabilities {
    background-color: #ededed;
    margin: 0 -3vw 5vw -3vw;
    padding: 7%;
}

.capabilities h1 {
    font-size: 3.2vw;
    margin-bottom: 3.6vw;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6vw;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1.8vw;
    border-left: 0.4vw solid red;
    font-size: 1.6vw;
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.5);
}

/* ===========Metal Welding About Us=========== */
.machines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    margin-bottom: 4vw;
}

.machines-text h1 {
    font-size: 3.2vw;
    padding-bottom: 5vw;
}

.machines-text li {
    margin-left: 3%;
    padding: 2%;
    font-size: 1.4vw;
}

.machines-img {
    width: 40%;
}

.machines-img p {
    font-size: 1vw;
}

.machines-img img {
    width: 100%;
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.7);
    margin-bottom: 0.5vw;
}

/* ===========CNC APPLICATIONS=========== */
.cnc-applications {
    margin: 0 -3vw 7vw -3vw;
    padding: 8%;
    background-color: #ededed;
}

.cnc-applications h1 {
    font-size: 3.2vw;
    text-align: center;
    margin-bottom: 4vw;
}

.applications-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
}

.parts {
    text-align: center;
    font-size: 1.4vw;
    padding: 1.8vw;
    background-color: #fbfbfb;
    transition: 0.3s;
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.5);
}

.parts:hover {
    background-color: #a2a2a2;
}

/* ===========Why Us=========== */
.why-cnc-us {
    margin-bottom: 7vw;
}

.why-cnc-us h2 {
    font-size: 3vw;
    padding-left: 5vw;
}

.underline {
    width: 3vw;
    border: 0.2vw solid red;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.why-cnc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cnc-benefits,
.why-us {
    margin: auto;
    background-color: #dcdcdc;
    border-radius: 20px;
    padding: 3vw;
}

.why-cnc-grid h2 {
    font-size: 2vw;
    border-left: 0.3vw solid red;
    padding-left: 1vw;
    margin-bottom: 2vw;
}

.why-cnc-grid li {
    font-size: 1.6vw;
    margin: 0 0 1.2vw 1vw;
    padding: 0.5vw 0;
}

/* ===========Past Projects=========== */
.pastProjects {
    text-align: center;
    margin: 0 -3vw 5vw -3vw;
    padding: 0 5% 0 5%;
}

.pastProjects-header h1 {
    text-align: center;
    padding: 5% 0 5% 0;
    font-size: 3.2vw;
    text-decoration: underline;
}

.pastProjects-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4.5vw;
    padding-bottom: 5%;
}

.pastProjects-img img {
    width: 100%;
}

/* ===== CTA ===== */
.cta {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 -3vw 0 -3vw;
    padding: 15% 5% 15% 5%;
}

.cta a {
    font-size: 1.2vw;
    background-color: #18a0fb;
    text-decoration: none;
    border-radius: 1.6vw;
    padding: 0.8vw 1vw;
    color: black;
}

.cta a:hover {
    background-color: #1585cf;
    transition: 0.2s ease;
}

.cta h1 {
    font-size: 2.8vw;
    margin-bottom: 1vw;
}

.cta p {
    font-size: 1.4vw;
    margin-bottom: 2.4vw;
}

/* ================= MOBILE ONLY ================= */
@media screen and (max-width: 768px) {

    /* ===== HERO ===== */
    .slider {
        height: 80vh;
    }

    .caption {
        top: 20%;
        left: 5%;
    }

    .caption h1 {
        font-size: 7vw;
    }

    .caption h2 {
        font-size: 4vw;
    }

    .caption p {
        font-size: 3vw;
        line-height: 5.5vw;
    }

    .actions a {
        display: inline-block;
        font-size: 3vw;
        padding: 2vw 3vw;
        border-radius: 5vw;
        margin-bottom: 3vw;
    }

    /* ===== DESCRIPTION ===== */
    .description h1 {
        font-size: 6vw;
    }

    .description p {
        font-size: 3.5vw;
        line-height: 6vw;
    }

    /* ===== CAPABILITIES ===== */
    .capabilities h1 {
        font-size: 7vw;
        margin-bottom: 7vw;
    }

    .card-grid {
        grid-template-columns: 1fr;
        gap: 4vw;
    }

    .card {
        font-size: 4vw;
        padding: 4vw;
    }

    /* ===== MACHINES ===== */
    .machines {
        flex-direction: column;
        gap: 6vw;
    }

    .machines-text h1 {
        font-size: 6vw;
        padding-bottom: 3vw;
    }

    .machines-text li {
        font-size: 3.8vw;
    }

    .machines-img {
        width: 100%;
    }

    .machines-img p {
        font-size: 3.5vw;
    }

    /* ===== APPLICATIONS ===== */
    .cnc-applications h1 {
        font-size: 7vw;
    }

    .applications-grid {
        grid-template-columns: 1fr;
        gap: 4vw;
    }

    .parts {
        font-size: 4vw;
        padding: 4vw;
    }

    /* ===== WHY CNC ===== */
    .why-cnc-us h2 {
        font-size: 6vw;
        padding-left: 5vw;
    }

    .underline {
        width: 7vw;
        border: 0.4vw solid red;
        margin-left: 5vw;
        margin-bottom: 5vw;
    }

    .why-cnc-grid {
        grid-template-columns: 1fr;
        gap: 6vw;
    }

    .why-cnc-grid h2 {
        font-size: 5vw;
        border-left: 0.5vw solid red;
        padding-left: 2vw;
    }

    .why-cnc-grid li {
        font-size: 3vw;
    }

    .cnc-benefits, .why-us{
        padding:4vw;
        min-width: 80vw;
    }
    /* ===== QUALITY ASSURANCE ===== */
    .qa-grid {
        grid-template-columns: 1fr;
        gap: 5vw;
    }

    /* ===== PAST PROJECTS ===== */
    .pastProjects-content {
        grid-template-columns: 1fr;
        gap: 6vw;
    }

    .pastProjects-header h1 {
        font-size: 6.5vw;
    }

    /* ===== CTA ===== */
    .cta h1 {
        font-size: 7vw;
    }

    .cta p {
        font-size: 4vw;
    }

    .cta a {
        font-size: 4vw;
        padding: 3vw 6vw;
        border-radius: 5vw;
    }
}